.cyber-pros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 60px;
}

.cyber-pros-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.cyber-pros-header h2{
    color: #fff;
    font-size: 20px;
}

.cyber-pros-header p{
    color: #fd3842;
    font-size: 13px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    width: 700px;
    text-align: center;
}

.cyber-pros-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    row-gap: 30px;
    column-gap: 50px;
}

.pros{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pros h3{
    color: #fd3842;
    font-size: 17px;
    font-weight: 500;
}

.pros p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 350px;
}

@media (max-width: 768px) {
  .cyber-pros-header h2 {
    font-size: 18px;
    width: 80%;
  }

  .cyber-pros-header p {
    font-size: 12px;
    width: 500px; 
  }

  .cyber-pros-content {
    grid-template-columns:repeat(2,1fr); 
    column-gap: 30px;
    row-gap: 20px;
  }

  .pros h3 {
    font-size: 16px;
  }

  .pros p {
    font-size: 11px;
    width: 300px; 
  }
}

@media (max-width: 500px) {
  .cyber-pros-header h2 {
    font-size: 16px;
  }

  .cyber-pros-header p {
    font-size: 11px;
    width: 100%; 
    padding: 0 20px; 
  }

  .cyber-pros-content {
    grid-template-columns: 1fr; 
    align-items: start;
    row-gap: 15px;
    column-gap: 20px;
  }
.pros{
    display: flex;
    flex-direction: column;
    align-items:center;
}
  .pros h3 {
    font-size: 14px;
  }

  .pros p {
    font-size: 10px;
    width: 80%;
    padding: 0 20px; 
  }
}

