.Bigform{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.checkbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.text-checkbox{
    display: flex;
    align-items: center;
}
label{
    color: #001a38;
    font-size: 13px;
    font-weight: 600;
}

.form-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-flex div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}

.form-flex div input{
    width: 350px;
    height: 34px;
    border-radius: 7px;
    color: #001a38;
    border: 1px solid #f5f8fa;
    background-color: #f5f8fa;
}

.form-flex div input:focus{
    transition: border 0.2s, box-shadow 0.2s;
    border: 1px solid #fd3842;

}

input::placeholder{
    font-size: 12px;
    font-weight: 500;
}

.form-span{
    display: flex;
    flex-direction: column;
}

.form-span div{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-span input{
    width:720px;
     height: 34px;
    border-radius: 7px;
    border: 1px solid #f5f8fa;
    background-color: #f5f8fa;
}

select{
    width: 720px;
      height: 34px;
    border-radius: 7px;
    border: 1px solid #f5f8fa;
    background-color: #f5f8fa;
    padding: 7px;
}

option{
    font-size: 12px;
    font-weight: 600;
    padding: 13px;
    margin-left: 14px;
    color: #333;
}

.checkbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding-right:450px;
}

.checkbox-flex{
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox-flex input[type="checkbox"] {
  width: 8px;
  height: 7px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #001a38;
}


.checkbox-flex h3{
    color: #001a38;
    font-size: 12px;
    position: relative;
}

form button{
    background-color: #001a38;
    width: 200px;
    height: 34px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    padding: 7px;
}

.text-checkbox{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 530px;
}

.text-checkbox h3{
    color: #001a38;
    font-size: 13px;
}

.text-checkbox input{
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #001a38;
}

.text-area{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text-area textarea{
    max-width: 720px;
    border: 1px solid #001a38;
    border-radius: 9px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

