.cyber-testimonials {
  padding: 50px;
  /* background-color: #f4f7f9; */
  text-align: center;
  margin-top: 80px;
}

.cyber-testimonials-title {
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.cyber-testimonials-slider {
  max-width: 600px;
  margin: 0 auto;
}

.cyber-testimonial-item {
  background-color:#fd3842;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 600px;
}

.cyber-testimonial-text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}

.cyber-testimonial-author {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

