.slider-container {
  background: #fd3842;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 400px;
  width: 100%;
 
}

.slide-header{
    display: flex;
    justify-content: center;
}

.slide-header h1{
    color: #fff;
    font-size:30px;

}

.slider-content{
    display: flex !important; 
    align-items: start; 
    width: 100%;
   
}

.slick-list {
  padding: 0 24px; 
}

.slick-slide{
    padding: 0px 47px;
}

.slide-wrapper{
    display: flex;
    justify-content: center;
     align-items: center; 
    
    width:80% !important;
}

.slider-content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.slide-content-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide-star{
    display: flex;
    align-items: center;
    color: yellow;
    fill: yellow;
}


.slide-text p{
color: white;
font-size: 13px;
font-weight: 500;
width: 200px;
line-height: 20px;
}

.slide-name h4{
    color: white;
    font-weight: 500;

}

.slide-name small{
    color:orange;
    font-style: italic;
    font-weight: 500;
}

.slider-box {
  width:100%;
  margin: 0 80px;
}

.slider-content {
    display: flex;
    gap: 10px;
  width: calc(70% / 3);
}

.slick-dots {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.slick-dots li:nth-child(n+4) {
  display: none;
}

/* media query */
@media screen and (max-width: 768px) {
  /* .slider-container{
    margin-right: 50px;
  } */
  .slide {
    padding: 20px;
    height: auto;
  }

  .slide-header h1 {
    font-size: 25px;
  }

  .slider-content {
    width: calc(100% / 2);
  }

.slick-slide {
  padding: 0 20px;
}

.slick-list {
  margin: 0 -80px; 
}

.slider-container{
    margin: 0 0px;
}

  .slider-content img {
    width: 35px;
    height: 35px;
  }

  .slide-text p {
    width: 160px;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .slick-dots li:nth-child(n+3) {
  display: none;
}
}

/* Media Query for 500px */
@media screen and (max-width: 500px) {
  .slider-container {
    padding: 20px;
    height: auto;
  }

  .slide-header h1 {
    font-size: 20px;
  }

  .slick-list {
    padding: 15px 90px;
  }

  .slick-slide {
    padding: 0 15px;
  }

  .slider-content img {
    width: 30px;
    height: 30px;
  }

  .slide-text p {
    width: 250px;
    font-size: 11px;
  }

  .slide-star {
    gap: 5px;
  }

  .slick-dots {
    bottom: -15px;
    right: -72px;
    margin-top: 30px;
  }
}