.hero{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    background-color: #001a38;
}

.hero-design{
    display: flex;
    flex-direction: column;
    gap: 10px;
        /* margin-right: 200px; */
    position: relative;
}

.hero-optimize span,.hero-flex span{
      color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-align: start;

}

.hero-flex{
    display: flex;
    gap: 10px;
    align-items: center;
}


.hero-svg {
  position: absolute;
  bottom: 60px; 
  left: 0;
  width: 100%;
}

.hero-svg svg {
  width: 100%;
  height: 70px; 
}

.hero-svg svg path {
  stroke: #fd3842;
  stroke-width: 16px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; 
}

.bg-video .hero-video{
    width:100%;
    height: 300px;
}



.hero h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-align: start;
    margin-right: 200px;
}

.hero-paragraph p{
    width: 500px;
    font-size: 17px;
    color: white;
    text-align: start;
    line-height: 30px;
}

.flex-hero{
    display: flex;
    margin-top: 25px;
    gap: 20px;
}

.flex-hero button{
   background-color:#fd3842;
   width: 190px;
   height: 45px;
   font-size: 12px;
   font-weight: 500;
   /* padding:8px; */
   border-radius: 6px;
   color: white;
}

.flex-hero button:hover{
 transition: all 300ms ease;
  transform: translateX(20px);
  background-color:#fd3842;
}


.flex-hero .buttonn:hover{
 transition: all 300ms ease;
  transform: translateX(-20px);
  background-color:#fd3842;
}




/* Mobile styles */
@media (max-width: 768px) {

    .hero{
        align-items: start;
        margin-left: 20px;
        margin-top: 100px;
    }

    /* .hero h1{
        font-size: 25px;
        width: 300px;
    
    } */

    .hero-design{
        gap: 3px;
    }

   .hero-optimize span,.hero-flex span{
      color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;

}

.hero-svg svg {
  width: 100%;
  height: 70px; 
}

.hero-svg svg path {
  stroke: #fd3842;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; 
}

    .hero-paragraph p{
        font-size: 15px;
        width: 400px;
        line-height: 25px;
    }

    .flex-hero{
      flex-direction: column;
    }

    .flex-hero button{
   background-color:#fd3842;
   width: 400px;
   height: 40px;
   padding:  20px;
   display: flex;
  
   justify-content: center;
   align-items: center;
   white-space:nowrap;
  
}

}

@media (max-width: 500px) {
      .hero{
        align-items: start;
        margin-left: 20px;
        margin-top: 100px;
    }

    /* .hero h1{
        font-size: 25px;
        width: 300px;
    
    } */

    .hero-design{
        gap: 3px;
    }

   .hero-optimize span,.hero-flex span{
      color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;

}

.hero-svg svg {
  width: 100%;
  height: 70px; 
}

.hero-svg svg path {
  stroke: #fd3842;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; 
}

    .hero-paragraph p{
        font-size: 15px;
        width: 350px;
        line-height: 25px;
    }

    .flex-hero button{
   background-color:#fd3842;
   width: 160px;
   height: 35px;
   padding:  20px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* white-space:nowrap; */
   font-size: 10px;
  
}
}


