.hero{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #001a38;
     overflow: hidden;
      position: relative;
        background-image: 
        linear-gradient(transparent 90%, #001a38), 
        linear-gradient(to top, transparent 30%, #001a38), 
        linear-gradient(to left, transparent 20%, #001a38), 
        linear-gradient(to right, transparent 20%, #001a38),  
        url(../../assets/woman-working-late-night-modern-office-her-face-focused-illuminated-by-laptop-screen-surrounded-by-city-lights-outside-window_95891-53767.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height:300px;
      margin-bottom: 20px;
      padding: 80px;
      position: relative;
}

.spotlight {
  position: absolute;
  top: 0;
  left: 20rem;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 60%);
  filter: blur(10px);
  pointer-events: none; /* Disable interaction with the spotlight */
  z-index: 0; /* Ensure it's behind other content */
}
.hero-design{
    display: flex;
    flex-direction: column;
    gap: 10px;
        /* margin-right: 200px; */
    position: relative;
    margin-bottom: 20px;
}

.hero-optimize span,.hero-flex span{
      color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-align: start;

}

.hero-flex{
    display: flex;
    gap: 30px;
    align-items: center;
}


.hero-svg {
  position: absolute;
  bottom: 60px; 
  left: 0;
  width: 100%;
}

.hero-svg svg {
  width: 100%;
  height: 70px; 
}

.hero-svg svg path {
  stroke: #fd3842;
  stroke-width: 16px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; 
}

.bg-video .hero-video{
    width:100%;
    height: 300px;
}



/* .hero h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-align: start;
    margin-right: 200px;
} */

.hero-paragraph p{
    width: 500px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.flex-hero{
    display: flex;
    margin-top: 7px;
    gap: 20px;
}

.flex-hero button{
   background-color:transparent;
   width: 140px;
   height: 30px;
   font-size: 12px;
   font-weight: 700;
   /* padding:8px; */
   border-radius: 26px;
   border: 1px solid #fff;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 14px;
}

.flex-hero button:hover{
 transition: all 300ms ease;
  transform: translateX(20px);
  background-color:#fd3842;
}


.flex-hero .buttonn:hover{
 transition: all 300ms ease;
  transform: translateX(-20px);
  background-color:#fd3842;
}




/* Mobile styles */
@media (max-width: 768px) {

    .hero{
        align-items: center;
        /* margin-left: 20px; */
        gap: 0px;
        margin-top: 100px;
    }

   .hero-optimize span,.hero-flex span{
      color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    text-align:center;
    white-space: nowrap;

}

.hero-svg svg {
  width: 100%;
  height: 70px; 
}

.hero-svg svg path {
  stroke: #fd3842;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; 
}

    .hero-paragraph p{
        font-size: 14px;
        width: 700px;
        line-height: 25px;
    }

    .flex-hero{
      flex-direction: column;
      align-items: center;
    }

    .flex-hero button{
   background-color:transparent;
   width: 400px;
   height: 40px;
   padding:  20px;
   display: flex;
   justify-content: center;
   align-items: center;
   white-space:nowrap;
  
}

}

@media (max-width:414px) {
      .hero{
        margin-bottom: 70px;
        flex-direction: column;
        align-items: center;
        height:500px;
        width: 100%;
        padding: 10px 35px;
        gap: 20px;
        
    }

    /* .hero h1{
        font-size: 25px;
        width: 300px;
    
    } */

    .hero-design{
        gap: 3px;
        align-items: center;

    }

   .hero-optimize span,.hero-flex span{
      color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;

}

.hero-svg svg {
  width: 100%;
  height: 70px; 
}

.hero-svg svg path {
  stroke: #fd3842;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; 
}

    .hero-paragraph p{
        font-size: 20px;
        width:300px;
        line-height: 25px;
        text-align: center
    }

    .flex-hero{
      justify-content: center;
      padding: 0px 45px;
    }

    .flex-hero button{
   background-color:transparent !important;
   width: 160px;
   height: 35px;
   padding:  20px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* white-space:nowrap; */
   font-size: 10px;
  
}
}

