.it-strategy-hero{
 margin-top: 60px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-image: linear-gradient(transparent 90%, #001a38), 
        linear-gradient(to top, transparent 56%, #001a38), 
        linear-gradient(to left, transparent 30%, #001a38), 
        linear-gradient(to right, transparent 40%, #001a38),
                linear-gradient(to bottom, transparent 40%, #001a38), url(../../assets/laptop.png);
 gap: 20px;
 height: 470px;
 background-position: center;
 background-size: cover;
 position: relative;
 padding: 100px;
}

.it-strategy-hero h2{
    color: #fd3842;
    font-size: 30px;
}

.it-strategy-hero p{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    width: 530px;
    text-align: center;
    line-height: 23px;
}

.it-strategy-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
      border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.it-strategy-card h3{
color: rgb(247, 249, 251);
font-size: 24px;
text-align: center;
}

.it-strategy-card p{
    color: #fff;
    font-size: 13px;
    font-weight:500;
    width: 500px;
    line-height: 23px;
    text-align: center;
}

.it-strategy-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    row-gap: 23px;
    column-gap: 23px;
  
}
.it-strategy-grid-item h3{
    color: #fd3842;
    font-size: 17px;
    font-weight: 500;
}

.it-strategy-grid-item p{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    width: 350px;
}


@media (max-width: 768px) {
  .it-strategy-hero {
    padding: 50px;
    height: 300px; 
    background-size: cover; 
    gap: 15px;
  }

  .it-strategy-hero h2 {
    font-size: 30px; 
  }

  .it-strategy-hero p {
    font-size: 15px;
    width: 100%; 
    padding: 0 15px; 
  }

  .it-strategy-card {
    padding-bottom: 20px;
  }

  .it-strategy-card h3 {
    font-size: 22px;
  }

  .it-strategy-card p {
    font-size: 12px;
    width: 100%; 
    padding: 0 15px; 
  }

  .it-strategy-grid {
    grid-template-columns:repeat(2,1fr); 
    padding: 20px;
    row-gap: 15px;
    column-gap: 10px;
  }

  .it-strategy-grid-item h3 {
    font-size: 15px; 
  }

  .it-strategy-grid-item p {
    font-size: 12px;
    width: 100%;
    padding: 0 15px; 
  }

  .it-strategy-testimonial{
    margin-top:50px;
  }

  .it-strategy-marquee{
    display: none;
  }
}

@media (max-width: 768px) {
  .it-strategy-hero {
    padding: 50px;
    height: 300px; 
    background-size: cover; 
    gap: 15px;
  }

  .it-strategy-hero h2 {
    font-size: 30px; 
  }

  .it-strategy-hero p {
    font-size: 13px;
    width: 100%; 
    padding: 0 15px; 
    width: 400px;
  }

  .it-strategy-card {
    padding-bottom: 20px;
    margin-top: 13px;
  }

  .it-strategy-card h3 {
    font-size: 22px;
  }

  .it-strategy-card p {
    font-size: 12px;
    width:400px; 
    padding: 0 15px; 
  }

  .it-strategy-grid {
    grid-template-columns:1fr; 
    padding: 20px;
    row-gap: 15px;
    column-gap: 10px;
  }

  .it-strategy-grid-item h3 {
    font-size: 15px; 
  }

  .it-strategy-grid-item p {
    font-size: 12px;
    width: 100%;
    padding: 0 15px; 
  }

  .it-strategy-testimonial{
    margin-top:10px;
    height: auto;
  }

  .it-strategy-marquee{
    display: none;
  }
}
