nav{
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 20px; /* Adjust this for mobile */
    transition: background-color 0.3s ease;
    z-index: 5;
    height: 60px;
    box-sizing: border-box;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-scrolled {
  background-color: #00274f;
}

nav:hover{
    background-color: #00274f;
    color: white;
}

.nav-img img{
    width: 50px;
    height:50px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
    /* position: relative; */
   
}
/* 
.nav-links a{
  position: relative;
}

.nav-links a:hover::before{
  content: "";
  background-color: #fd3842;
  top:20px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  position:absolute;
  transition: all ease-in-out 10s;
  
} */
.nav-links a{
 color: white;
 display: flex;
 align-items: center;
 gap: 7px;
 font-size: 12px;
 font-weight: 500;
 position:relative;
     /* outline: deeppink solid 1px !important; */
}

.nav-links a.active {
  font-weight: bold; 
  color: #fd3842; 
}

.nav-links a:hover{
    color:#fd3842 ;
}

.nav-links a .nav-icon:hover{
transform: rotate(90deg);
font-size: 13px;
}
.nav-end{
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-end a{
  color: white;
 font-size: 13px;
 text-decoration: underline;
  font-weight: 500;
}

.nav-end a:hover{
    color: deeppink;
}


.nav-end button{
    background-color: #fd3842;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    padding: 6px;
    font-weight: 500;
}

 .nav-toggle {
    display: none;
} 


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
   top: calc(100% + 6px);
  left:0;
  right: 0;
  width: 100vw; 
  background-color: #00274f;
  padding: 20px 50px;
  z-index: 0;
   left: 300%;
  transform: translateX(-54%);
}

.dropdown-toggle{
  border: 1px solid #ffff;
  width: 100px;
  padding: 4px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: flex; 
}

.dropdown-flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  /* max-width: 1200px;  */
  margin: 0 auto; 
  width: 100%;
   padding:10px 100px;
   align-items: start;
}

.dropdown-services .border-radius{
  font-size: 20px;
  border-bottom: 3px solid #fd3842;
  margin-bottom: 14px;
}

.dropdown-services ul {
  list-style: none;
  padding: 0;
  display:flex;
  flex-direction: column;
  gap: px;
}

.dropdown-services a {
  margin: 10px 0;
  font-size: 12px;
  white-space: nowrap;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.dropdown-services a:hover{
  color: #fd3842;
  margin-left: 1rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.dropdown-promotions {
  display: flex;
  align-items: start;
  gap: 90px;
}

.promotion-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width:200px;
  transition: transform 0.3s ease;
}

.promotion-item:hover{
  transform: scale(0.9);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}


.promotion-item img {
  width: 200px;
  height:auto;
  margin-right: 10px;
   border-radius: 6px 6px  0px 0px;
}

.promotion-text{
  background-color: #000;
  width: 200px;
  height: 100px;
  padding: 10px;
  border-radius:0px 0px 6px 6px;
}

.promotion-text p {
  color: white;
  font-size: 12px;
  width:150px;
}

.promotion-description .description-item {
  margin-top: 10px;
  width: 200px;
}

.description-item p {
  color: white;
  font-size: 12px;
  width: 250px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.description-item small{
  color: #dbdbdd;
  font-size: 10px;
}
.industries-drop-down{
  position: relative;
}

.dropdown-content-1{
  display: flex;
  gap: 100px;
  /* padding: 20px 100px; */
  align-items:end;
  display: none;
  position: absolute;
    top: 120%; 
  left:0px;
  right:0%;
  width: 100vw; 
  background-color: #00274f;
  padding: 15px 50px;
  z-index: 0;
  transform: translateX(-39%);
  transition: all 500ms ease-in-out;
  
}

/* .dropdown-content-1 a{
  font-size: px;
  border-bottom: #fd3842 3px solid;
  margin-bottom: 15px;
} */

.dropdown-content-1 div ul a{
    font-size: 13px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.dropdown-content-1 ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  
}

.dropdown-content-1 ul a{
  font-size: 13px;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.dropdown-content-1 ul li:hover{
  color: #fd3842;
  margin-left: 1rem;
  transition: all 200ms ease;
  border-bottom:1px solid #fd3842;
}

.industries-drop-down:hover .dropdown-content-1{
  display:flex;
  justify-content: start;
  padding-left: 340px;
}


/* Mobile styles */
@media (max-width: 768px) {

     nav{
     /* width: 100%; */
     position: relative;
     justify-content: space-between;
     padding: 20px 50px;
      
    } 

    .nav-links,
  .nav-end {
    display: none;
  }

    .nav-links{
        gap: 1px;
       
    }
    .nav-toggle {
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .nav-links.active, .nav-end.active {
         display: flex;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        padding: 10px;
        z-index: 10;
         background-color: #00274f;
          flex-direction: column;
    }

    .nav-end{
      display: flex;
      display: none;
      gap: 2px;
    }
    .nav-links.active{
        z-index: 40;
        margin-top: 140px;
    }

    .nav-links.active a, .nav-end.active a {
        font-size: 13px;
        color: white;
        padding: 10px 0;
    }

    .nav-end button {
        width: 80px;
        height: 30px;
        margin: 10px auto;
        font-size: 12px;
    }

    .nav-end.active a, .nav-links.active a:hover{
        color: #fd3842;
       
    }

   .dropdown-content,
  .dropdown-content-1 {
    display: none !important;
  }
}
@media (max-width:420px) {

  nav{
  position:relative;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px;
  

  }

    .nav-links, .nav-end {
        display: none; 
    }

    .nav-toggle {
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        position: relative; 
        z-index: 20; 
      
    }

    .nav-links.active, .nav-end.active {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #00274f;
        padding:25px;
        z-index: 10;
    }

    .nav-links.active a, .nav-end.active a {
        font-size: 13px;
        color: white;
        padding: 15px 0;
    }

    .nav-end button {
        width: 80px;
        height: 30px;
        margin: 10px auto;
    }

    .nav-end.active a, .nav-links.active a:hover {
        color: #fd3842;
    }

 
}

@media (max-width:360px) {
  nav{
    padding: 10px 40px;
  }
}


