footer{
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    width: 100%;
    margin-top: 50px;
    overflow-x: hidden;
    
}

.footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
     padding: 10px 40px;
    /* justify-content: space-between; */
}

.footer-flexed{
    display: flex;
    align-items: start;
    gap:70px;
}


.footer-left img{
    width: 150px;
    height: 150px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.footer-left p{
    color: white;
    font-size: 15px;
    text-align: start;
    line-height: 30px;
}

.footer-left h2{
    color: white;
    font-weight: 400;
}

.footer-img{
    display: flex;
    gap: 20px;
    color: white;
    font-size: 25px;
}

.address p{
    font-size: 15px;
    height: 20px;
    color: orange;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.footer-links h2{
    color: white;
}

.futer {
   display: flex;
   flex-direction: column;
   gap: 13px; 
   align-items: start;
}

.futer a{
    color: white;
    font-size: 13px;
    position: relative;
    padding-left: 20px;
}

.futer a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: black;
   
    
}

.footer-bottom p, h4{
    color: #fff;
    font-size: 12px;
    font-weight:500;
}

.footer-privacy{
    display: flex;
    gap: 12px;
}

.news-letter h3{
    color: white;
    font-size: 25px;
    margin-bottom:20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
}

.form p{
    color: white;
    font-size: 12px;
}

.form input{
  width: 300px;
    height: 40px;
    background-color:transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 14px;
    color: #fff;
}

.form input:focus{
    outline-color:#fd3842 ;
    border: 1px solid #fd3842;
}
.form button{
    width: 150px;
    height: 40px;
    background-color:#fd3842;
    border-radius: 4px;
    padding: 10px;
}
@media  (max-width: 768px) {
    footer{
        margin-top: 20px;
        height: 100%;
        position: relative;
    }

    .footer-flex{
           flex-wrap: wrap;
           gap: 5rem;
           align-items: start;
    padding:10px 20px ;

    }

    .news-letter h3{
        font-size: 12px;
        text-align: center;
        margin-top: 2rem;
    }

    .news-letter{
    position: absolute;
    top:16rem;
    left: 16rem;
    bottom: 0;
    right: 0;
    gap: 2px;

}

.form button{
    background-color: #fd3842;
    color: #fff;
    height: 30px;
    font-size: 12px;
}
}

@media  (max-width: 420px) {
    footer{
        margin-top: 20px;
        height: 100%;
        position: relative;
    }

    .footer-flex{
        flex-direction: column;
        align-items: center;
          /* flex-wrap: wrap; */
    /* padding:10px 30px ; */
    }

    .footer-left{
        align-items: center;
    }

     .footer-left p{
        text-align: center;
     }

    .footer-flexed{
        display: flex;
        gap: 40px;
        margin-bottom: 9.4rem;
    }

    .footer-privacy{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    .footer-links{
        display: none;
    }
    .footer-privacy h4{
        white-space: nowrap;
    }

    .footer-bottom p{
        width: 150px;
    }

    .footer-bottom {
    padding: 20px;
    }

       .news-letter h3{
        font-size: 12px;
        text-align: center;
        margin-top: 2rem;
    }

    .news-letter{
    position: absolute;
    top:30rem;
    left: 0rem;
    bottom: 0;
    right: 0;
    gap: 2px;
}
    
}