.banking-container{
    background-image: 
    linear-gradient(transparent 70%, #001a38), 
        linear-gradient(to top, transparent 76%, #001a38), 
        linear-gradient(to left, transparent 40%, #001a38), 
        linear-gradient(to right, transparent 30%, #001a38), 
           linear-gradient(to bottom, transparent 30%, #001a38), 
  url(../../assets/bank.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 60px;
    
    height:470px;
    padding: 90px;
}

.care{
    color: #fd3842 ;
}
.banking-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.banking-text h2{
    font-size: 33px;
    width: 700px;
    text-align: center;
    color: #fd3842;
}

.banking-text p{
    font-size: 13px;
    font-weight: 600;
    width: 600px;
    line-height: 20px;
    text-align: center;
}

.bank-evolving{
    display: flex;
    align-items: start;
    gap: 2rem;
    color: white;
    padding: 30px 150px;
}

.bank-evolving-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bank-evolving-text p{
    line-height: 25px;
}

.bank-evolving-image img{
    border-radius: 12px;
    width: 600px;
    height:auto;

}

.bank-challenge-container{
    color: white;
    padding: 30px 150px;

}

.bank-challenge-container h1{
    font-size: 30px;
    color: #fd3842;
}


.bank-challenge-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;
}

.bank-challenge-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bank-card h2{
    font-size: 24px;
    font-weight: 700;
}

.bank-card p{
    line-height: 18px;
    font-size: 1rem;
    font-weight: 600;
}

.bank-role-content h1{
    font-size: 30px;
    color: #fd3842;
}

.bank-role-content p{
    font-size: 13px;
}


.bank-role-content{
    color: white;
    padding: 30px 150px;
}

.bank-role-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;

}

.bank-role-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;;
}

.bank-role-card h2{
    font-size: 22px;
}

.bank-role-card p{
    font-size: 1rem;
    font-weight: 600;
}

.bank-trend{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 90px 150px;
    gap: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 2rem;
}

.bank-trend-image img{
    width: 200px;
}
.bank-trend-card{
    display: flex;
    gap: 2rem;
}
.bank-trend-box{
    display: flex;
    background: #333;
    border-radius: 8px;
    padding: 1.5rem;
    gap: 1.5rem;

}

.bank-trend-text h3{
    font-size: 24px;
}

.bank-trend-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bank-trend-text p{
    width: 200px;
    font-size: 13px;
    font-weight: 600;
}



/* tablet */
@media(max-width:768px){
.bank-evolving{
    flex-direction: column;
    padding: 20px;
}

.bank-evolving-text h1{
    font-size: 28px;
}

.bank-evolving-image img{
    width: 720px;

}

.bank-challenge-container{
    padding: 20px;
}

.bank-challenge-container h1{
    font-size: 30px;
}

.bank-role-content{
    padding: 35px 20px;
}

.bank-role-content h1{
    font-size: 26px;
}

.bank-trend{
    padding: 30px 20px;
}

.bank-trend h1{
    font-size: 26px;
}

.bank-trend-card{
    flex-direction: column;
}
}



/* mobile */

@media(max-width:500px){
.banking-container{
    padding: 100px;
    height: 470px;
    margin-bottom: 2rem;
  
}

.banking-text h2{
    width: 380px;
    font-size: 24px;
}

.banking-text p{
    width: 360px;
}

.bank-evolving{
    flex-direction: column-reverse;
    align-items: center;
    /* padding: 0px 20px; */
}

.bank-evolving-text h1{
    font-size: 24px;
}

.bank-evolving-image img{
    width: 500px;

}
.bank-challenge-container{
    padding: 80px 20px;
}

.bank-challenge-container h1{
    font-size: 28px;
}
.bank-challenge-box{
    flex-direction: column;
    align-items: center;
}

.bank-challenge-card{
    width: 350px;
    height: 200px;
}
.bank-role-content h1{
    font-size: 18px;
}

.bank-role-content p{
    padding-top: 1rem;
}
.bank-role-content{
    padding: 20px;
}
.bank-role-box{
    flex-direction: column;
    align-items: center;
}

.bank-role-card{
width: 350px;
gap: 1rem;
}

.bank-trend{
    padding: 20px;
}

.bank-trend-box{
   flex-direction: column;
}
.bank-trend-card{
    flex-direction: column;
}

.back-trend-image img{
    width: 100%;
}
}