.healthcare-container{
    background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url(../../assets/cyberduo-healthcare-scaled.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 60px;
    height: 675px;
    padding: 170px;
}

.healthcare-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.healthcare-text h2{
    font-size: 33px;
    width: 700px;
    text-align: center;
}

.healthcare-text p{
    font-size: 13px;
    font-weight: 600;
    width: 600px;
    line-height: 20px;
    text-align: center;
}

.evolving{
    display: flex;
    gap: 2rem;
    color: white;
    padding: 30px 150px;
}

.evolving-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.evolving-text p{
    line-height: 25px;
}

.evolving-image img{
    border-radius: 12px;
    width: 600px;
    height: auto;

}

.challenge-container{
    color: white;
    padding: 30px 150px;

}

.challenge-container h1{
    font-size: 40px;
}


.challenge-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;
}

.challenge-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.challenge-card h2{
    font-size: 24px;
    font-weight: 700;
}

.challenge-card p{
    line-height: 18px;
    font-size: 1rem;
    font-weight: 600;
}

.health-role-content h1{
    font-size: 33px;
}

.health-role-content p{
    font-size: 13px;
}


.health-role-content{
    color: white;
    padding: 30px 150px;
}

.health-role-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;

}

.health-role-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;;
}

.health-role-card h2{
    font-size: 22px;
}

.health-role-card p{
    font-size: 1rem;
    font-weight: 600;
}

.trend{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 90px 150px;
    gap: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 2rem;
}

.trend-image img{
    width: 300px;
}
.trend-card{
    display: flex;
    gap: 2rem;
}
.trend-box{
    display: flex;
    /* background-color: rgb(193, 192, 192); */
    background: #333;
    border-radius: 8px;
    padding: 1.5rem;
    gap: 1.5rem;
}

.trend-text h3{
    font-size: 24px;
}

.trend-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* mobile */
@media(max-width:500px){
.healthcare-container{
    padding: 140px;
    height: 678px;
    object-fit: fill;
}

.healthcare-text h2{
    width: 380px;
    font-size: 24px;
}

.healthcare-text p{
    width: 360px;
}

.evolving{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px 20px;
}

.evolving-text h1{
    font-size: 24px;
}

.evolving-image img{
    width: 500px;

}
.challenge-container{
    padding: 80px 20px;
}

.challenge-container h1{
    font-size: 28px;
}
.challenge-box{
    flex-direction: column;
    align-items: center;
}

.challenge-card{
    width: 350px;
}
.health-role-content h1{
    font-size: 22px;
}

.health-role-content p{
    padding-top: 1rem;
}
.health-role-content{
    padding: 20px;
}
.health-role-box{
    flex-direction: column;
    align-items: center;
}

.health-role-card{
width: 350px;
gap: 1rem;
}

.trend{
    padding: 20px;
}
.trend-card{
    flex-direction: column;
}

.trend-image img{
    width: 150px;
}
}
/* tablet */
@media(max-width:768px){
.evolving{
    flex-direction: column;
    padding: 20px;
}

.evolving-image img{
    width: 720px;

}
}

/*  */
@media(max-width:1440px){

}