.military-container{
    background-image: 
    linear-gradient(transparent 50%, #000000), 
        linear-gradient(to top, transparent 76%, #000000), 
        linear-gradient(to left, transparent 40%, #000000), 
        linear-gradient(to right, transparent 40%, #000000), 
  url(../../assets/army.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 60px;
    height:470px;
    padding: 120px;
}

.care{
    color: #fd3842 ;
}
.healthcare-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.healthcare-text h2{
    font-size: 33px;
    width: 700px;
    text-align: center;
    color: #fd3842;
}

.healthcare-text p{
    font-size: 13px;
    font-weight: 600;
    width: 600px;
    line-height: 20px;
    text-align: center;
}

.evolving{
    display: flex;
    gap: 2rem;
    color: white;
    padding: 30px 150px;
}

.evolving-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.evolving-text p{
    line-height: 25px;
}

.evolving-image img{
    border-radius: 12px;
    width: 600px;
    height: auto;

}

.challenge-container{
    color: white;
    padding: 30px 150px;

}

.challenge-container h1{
    font-size: 30px;
    color: #fd3842;
}


.challenge-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;
}

.challenge-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.challenge-card h2{
    font-size: 24px;
    font-weight: 700;
}

.challenge-card p{
    line-height: 18px;
    font-size: 1rem;
    font-weight: 600;
}

.health-role-content h1{
    font-size: 30px;
    color: #fd3842;
}

.health-role-content p{
    font-size: 13px;
}


.health-role-content{
    color: white;
    padding: 30px 150px;
}

.health-role-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;

}

.health-role-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;;
}

.health-role-card h2{
    font-size: 22px;
}

.health-role-card p{
    font-size: 1rem;
    font-weight: 600;
}

.trend{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 90px 150px;
    gap: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 2rem;
}

.trend-image img{
    width: 200px;
}
.trend-card{
    display: flex;
    gap: 2rem;
}
.trend-box{
    display: flex;
    background: #333;
    border-radius: 8px;
    padding: 1.5rem;
    gap: 1.5rem;

}

.trend-text h3{
    font-size: 24px;
}

.trend-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trend-text p{
    width: 200px;
    font-size: 13px;
    font-weight: 600;
}



/* tablet */
@media(max-width:768px){
.evolving{
    flex-direction: column;
    padding: 20px;
}

.evolving-text h1{
    font-size: 28px;
}

.evolving-image img{
    width: 720px;

}

.challenge-container{
    padding: 20px;
}

.challenge-container h1{
    font-size: 30px;
}

.health-role-content{
    padding: 35px 20px;
}

.health-role-content h1{
    font-size: 26px;
}

.trend{
    padding: 30px 20px;
}

.trend h1{
    font-size: 26px;
}

.trend-card{
    flex-direction: column;
}
}



/* mobile */

@media(max-width:500px){
.military-container{
    padding: 100px;
    height: 470px;
    margin-bottom: 2rem;
  
}

.healthcare-text h2{
    width: 380px;
    font-size: 24px;
}

.healthcare-text p{
    width: 360px;
}

.evolving{
    flex-direction: column-reverse;
    align-items: center;
    /* padding: 0px 20px; */
}

.evolving-text h1{
    font-size: 24px;
}

.evolving-image img{
    width: 500px;

}
.challenge-container{
    padding: 80px 20px;
}

.challenge-container h1{
    font-size: 28px;
}
.challenge-box{
    flex-direction: column;
    align-items: center;
}

.challenge-card{
    width: 350px;
    height: 200px;
}
.health-role-content h1{
    font-size: 18px;
}

.health-role-content p{
    padding-top: 1rem;
}
.health-role-content{
    padding: 20px;
}
.health-role-box{
    flex-direction: column;
    align-items: center;
}

.health-role-card{
width: 350px;
gap: 1rem;
}

.trend{
    padding: 20px;
}

.trend-box{
   flex-direction: column;
}
.trend-card{
    flex-direction: column;
}

.trend-image img{
    width: 100%;
}
}