.nonprofit-container{
    color: white;
    margin-top: 60px;
 background-image: 
    linear-gradient(transparent 40%, #001a38), 
        linear-gradient(to top, transparent 56%, #001a38), 
        linear-gradient(to left, transparent 40%, #001a38), 
        linear-gradient(to right, transparent 40%, #001a38),  
  url(../../assets/nonprofit.png);
  background-repeat: no-repeat;
  /* background-blend-mode:multiply; */
    background-position: center;
    background-size: cover;
      height: 470px;
    padding: 100px;
    position:relative;
}

.nonprofit-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nonprofit-text h2{
    font-size: 40px;
    width: 700px;
    text-align: center;
    color:  #fd3842;
}

.nonprofit-text p{
   font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: center; 
    width: 700px;
}

.testi{
    margin-top: 60px;
}

.current{
    color: white;
    display: flex;
    gap: 3rem;
    padding: 30px 150px;
    align-items: center;
}

.current-text{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    width: 700px;
}

.current-text h1{
    color: #fd3842;
}
.current-text p{
     line-height: 25px;
     font-weight: 600;
}

.current-image img{
    border-radius: 12px;
    width: 600px;
    height: auto;
}


.current-container{
    color: white;
    padding: 30px 150px;

}

.current-container h1{
    font-size: 33px;
    color: #fd3842;
}


.current-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;
}

.current-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.current-card h2{
    font-size: 24px;
    font-weight: 700;
    
}

.current-card p{
    line-height: 18px;
    font-size: 1rem;
    font-weight: 600;
}

.current-role-content h1{
    font-size: 33px;
    color: #fd3842;
}

.current-role-content p{
    font-size: 13px;
}


.current-role-content{
    color: white;
    padding: 30px 150px;
}

.current-role-box{
    display: flex;
    gap: 2rem;
    margin-top: 40px;

}

.current-role-card{
    background-color: white;
    color: black;
    padding: 1rem;
    width: 500px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;;
}

.current-role-card h2{
    font-size: 22px;
}

.current-role-card p{
    font-size: 1rem;
    font-weight: 600;
}

/* mobile */
@media(max-width:500px){
.nonprofit-container{
    padding: 100px;
    height: 470px;
    object-fit: fill;
}

.nonprofit-text h2{
    width: 380px;
    font-size: 24px;
}

.nonprofit-text p{
    width: 360px;
}

.testi{
    margin-top: 20px;
}
.current{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
}

.current-text{
    width: 350px;
}

.current-text h1{
    font-size: 20px;
}

.current-image img{
    width: 500px;

}
.current-container{
    padding: 80px 20px;
}

.current-container h1{
    font-size: 28px;
}
.current-box{
    flex-direction: column;
    align-items: center;
}

.current-card{
    width: 350px;
}
.current-role-content h1{
    font-size: 22px;
}

.current-role-content p{
    padding-top: 1rem;
}
.current-role-content{
    padding: 20px;
}


.current-role-box{
    flex-direction: column;
    align-items: center;
}

.current-role-card{
width: 350px;
gap: 1rem;
}

.trend{
    padding: 20px;
}


.trend-card{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trend-image img{
    width: 100%;
}


}

/* tablet */
@media(max-width:768px){
.current{
    flex-direction: column;
    padding: 0px 20px;
}

.current-text h1{
    font-size: 28px;
}

.current-card h2{
    font-size: 17px;
}

.current-card p{
    line-height: 18px;
    
}

.current-image img{
    width: 720px;

}

.current-container{
    padding:40px  20px;
}

.current-container h1{
    font-size: 28px;
}

.current-role-content{
    padding: 35px 20px;
}

.current-role-card{
    gap: 1rem;
}

.current-role-card h2{
    font-size: 17px;
}

.current-role-content h1{
    font-size: 26px;
}

.trend{
    padding: 30px 20px;
}

.trend h1{
    font-size: 26px;
}

.trend-card{
    flex-direction: column;
}
}